@import 'colors.scss';
@import 'navbar.scss';
@import 'header.scss';
@import 'buttons.scss';
@import 'footer.scss';

body {
	font-family: 'Roboto', sans-serif;
}

a {
	color: $primary;
	&:focus,
	&:hover {
		text-decoration: none;
		color: darken($primary, 20%);
	}
}

// Import Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
